@font-face {
    font-family: "Plain Light";
    src: url("./plain-light-webfont.ttf");
}
@font-face {
    font-family:  "Silk Serif";
    src: url("./silkserif-lightitalic-webfont.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Plain Light;
}
body{
    overflow-x: hidden;
}
.cursor{
    width: 3vw;
    height: 3vw;
    border: 2px solid rgba(255, 255, 255, 0.859);
    position: fixed;
    z-index: 9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background: #0b0b0b;
    z-index: 99;
    padding: 25vh 10vw;

}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;

 
}
.line1_part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw

}
.line1_part1 h5 , .line1_part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: Silk Serif;
}
.line1_part1 h5 {
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;

}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   

}

@keyframes anime {
    0%{
        -webkit-text-stroke: 1px white;
        color: white;
        font-family: Plain Light;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        -webkit-text-stroke: 1px white;
        color: white;
        font-family: Plain Light;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: Silk Serif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 1;

    }
    100%{
        font-family: Silk Serif;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-weight: 500;
        opacity: 0;

    }
    
}

.main{
    position: relative;
    background-color: rgb(46, 40, 40);
    
    z-index: 2;
}
.page1{
    width: 100vw;
    height: 100vh;
    background-color: #151515;
}

.page1 .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 9vw;
}
.page1 .nav h1{
    letter-spacing: 1.5px;
}
.page1 .nav .nav_part_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;


}
.page1 .nav .nav_part_2 h4{
    font-size: 	16px;
    font-weight: 400;
    cursor: pointer;
    font-family:Plain Light ;


}
.hero{

    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;

}

.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    cursor: pointer;

    font-size: 7.2vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 7vw;


}
.hero h2{
    cursor: pointer;
    border-bottom: 0.5vw solid white;
    /* margin-right: 10px; */
    /* transition: all ease 0.3s; */
    font-size: 7.2vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 7vw;
   
}
.hero h3{
    cursor: pointer;
    margin-left: 12px;
    /* margin-right: 10px; */
    /* transition: all ease 0.3s; */
    font-size: 7.2vw;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 7vw;

}
.hero h2:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 500px;
}